body {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Roboto Mono', monospace;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
}

.transparent {
    background-color: transparent;
}

.typed-cursor {
    display: none;
}

.nav-back {
    position: absolute;
    top: 0;
    left: 0;
}

.md-icon-button {
    margin-left: 0 !important;
}

.content {
    padding: 30px 30px 30px 30px;
    text-align: center;
}

#about-me {
    overflow-y: scroll;
}